.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding: 12px;
  border-block-end: 1px solid #ffffff;
  background-color: rgba(7, 5, 5, 0.13);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  list-style-type: none;
}