.containerLink {
    background-color: rgb(229, 215, 241);
    width: 320px;
    height: 560px;
    list-style: none;
}

.linkWrapper{
    border-radius: 10px;
}
.linkStyle{
  color: blue;
  list-style: none;
}